@font-face{
    font-family: Material Icons ;
    src: url(MaterialIcons-Regular.ttf);
}






@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLFj_Z1xlEA.ttf) format("truetype");
}

@font-face {
	font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format("truetype");
}

@font-face {
	font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format("truetype");
}

@font-face {
	font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format("truetype");
}

@font-face {
	font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format("truetype");
}

p{
    font-family: poppins!important;
}
div{
    font-family: poppins!important;
}
h1{
    font-family: poppins!important;
}
h2{
    font-family: poppins!important;
}
h3{
    font-family: poppins!important;
}
h4{
    font-family: poppins!important;
}
h5{
    font-family: poppins!important;
}
ul{
    font-family: poppins!important;
}
li{
    font-family: poppins!important;
}
a{
    font-family: poppins!important;
}





.apple-font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: white !important;
}
#loader-wrapper{
}

#head-colored-box{
    width: 100vw ;
    height: 30vh ;
    margin-top: 0;
}
#info-in-parallax{
    font-size: 18px;
    letter-spacing: 20px;
    background-color: rgba(0, 0, 0, 0.2);    
    transition: 1s;
    animation: cluster 1s linear forwards 1.5s;
}
#info-in-parallax:hover{
    background-color: rgba(0, 0, 0, 0.3)
}
@keyframes cluster{
    to{
        letter-spacing: 2px;
    }
}

.head-img-box{
    margin-top: -100px ;
}
.head-img-box img:hover{
    animation: spin 0.9s linear 1 forwards ;
    -webkit-animation: turn 0.9s linear 1 forwards ;
    -moz-animation: turn 0.9s linear 1 forwards ;
}
.head-img-box img{
    border: 8px double rgb(255, 255, 255) ;  
}
.job-text{
    position: sticky ;
    top: 0 ;
    
}

.border{
    border-left: 6px solid rgb(2, 218, 189) ;
}

#nav{
    padding-left: 25px ;
    font-size: 40px ;
}

#nav-container{
    margin-top: 25px ;
}


#facebook-icon:hover,#twitter-icon:hover,#github-icon:hover,#slack-icon:hover{
    animation: spin 0.4s linear 1 forwards ;
    -webkit-animation: spin 0.4s linear 1 forwards ;
    -moz-animation: spin 0.s linear 1 forwards ;
    color: green ;
    font-size: 50px ;
}

@keyframes turn{
    0%{
        transform: rotate(0deg) ;
        -webkit-transform: rotate(0deg) ;
        -moz-transform: rotate(0deg) ;        
    }
    25%{
        transform: rotate(90deg) ;
        -webkit-transform: rotate(90deg) ;
        -moz-transform: rotate(90deg) ;        
    }
    50%{
        transform: rotate(130deg) ;
        -webkit-transform: rotate(130deg) ;
        -moz-transform: rotate(130deg) ;        
    }
    65%{
        transform: rotate(270deg) ;
        -webkit-transform: rotate(270deg) ;
        -moz-transform: rotate(270deg) ;
    }
    75%{
        transform: rotate(320deg) ;
        -webkit-transform: rotate(320deg) ;
        -moz-transform: rotate(320deg) ;
    }
    85%{
        transform: rotate(330deg) ;
        -webkit-transform: rotate(330deg) ;
        -moz-transform: rotate(330deg) ;
    }
    
    100%{
        transform: rotate(-30deg) ;
        -webkit-transform: rotate(-30deg) ;
        -moz-transform: rotate(-30deg) ;        
    }
}

.push-down{
    margin-top: 10%;
    background-color: rgb(248, 248, 248);
}

.container {
    padding: 0 0.5rem;
    width: 85% !important;
  }

#details-headers-box{
    height: 450px ;
    width: 230px;
}
.all-details{
    margin-top: 5%;
    width: 750px;
    height: 160px;
}
.all-details p, .all-details blockquote{
    font-size: 18px!important;
    color: gray!important;
}

.details-header-content ul li a{
}

.details-header-content ul li a{
    line-height: 40px ;
    font-weight: bold ;
}
.mobile-img{
      max-width: 130%!important;
      margin-left: -2em ;
}

.details-tittle-main{
    font-weight: bolder ;
}
.about-me-text{
    font-size: 20px !important;
}
.developer-img{
    height: 250px !important;
}
.tab-card{
    height: 300px!important;
}

.nav-name-text-box{
    border-right: 3px solid rgb(245, 233, 211);
    width: 145px;    
    height: 55px;
}

#nav-name-text{
    font-size: 18px ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#top-nav-box{
    height: 12%;
}
.nav-wrapper{

}


h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: 600 !important;    
}

#top-nav-box-items{
    margin-top: -1%;
}

#mar-top{
    margin-top: -50em;
}
.parallax-container{
    border-bottom-right-radius: 40%;    
    height: 90vh !important;
}
.thick-border{
    border: 2px solid black;
    border-radius: 50px;
}
.mail-me-form{
    position: absolute;
    margin-left: 75%;
    margin-top: -18%;
    width: 210px;
    height: 230px;
    border-top-left-radius: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scroll-behavior: none;
}


#feedback-text{
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    padding-top: 6px;

}

#map{
    width: 100%;
    height: 100%;
}

.hide{display:none;}
.show{display: block;}

#top-nav{
    transition: all 0.5s;
    background-color: transparent;
}
#nav-name-text{
    color: white;
    transition: all 1s;    
}
.tabIcons{
    font-size: 18px!important;
}

#shift{
    margin-left: 14%;
}
#hire-in-nav{
    height: 55px !important;
    margin-top: 4px !important;
    margin-left: -80%;
    border-radius: 50px;
    text-align: center;
   
}
#hire-in-nav:hover{
    background-color: none !important;
}
#hire-me-text{
    font-weight: bolder;
    font-size: 23px;
    font-style: normal;
}
#color-opacity{
    background-color: rgba(169, 252, 36, 0.8)!important;
    z-index: 1;
}
#top-nav-on-mobile{
    height: 60px;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .5s;
    box-shadow: 2px 3px  15px rgba(0, 0, 0, 0.2);
}
#hamburger-mobile{
    color: blue!important;
}
#slide-out{
    z-index: 2 !important;
    box-shadow: none !important;
}
#my-name-text-in-mobile{
    background-color: rgba(17, 182, 17, 0.2);
    padding-bottom: 10px;
    border-radius: 50px;
    padding-top: 10px;
    color: white;
}
.hire-in-mobile{
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#brief-me-fsize{
    color: rgb(68, 67, 67);
    margin-top: 20%;
    font-size: 17px;
    line-height: 200%;
}
.projects{
    height: 350px!important;
}
#buttons-in-parallax{
    margin-top: 150px !important;
}
/* .paralax-btn-main{
    padding: 10px 0 10px 0;
} */

#first-my-img-box{
    width: 100% ;
    height: 250px ;
    overflow: hidden ;
    
}
#first-my-img{
    filter: brightness(110%) ;
    transition: all 0.4s ;
}
#first-my-img:hover{
    width: 130% ;
    height: 130% ;
}
#border-bottom{
    border-bottom: 8px solid rgb(221, 31, 66) ;
}
#blog-text{
    margin-top: 50px;
    margin-bottom: 50px;    
    color: rgb(97, 95, 95) ;
    font-weight: lighter !important ;
}
.blog-margin{
    margin-left: 3%!important;
    margin-right: 3%!important; 
}
.blog-text{
    font-size: 17px;
    transition: all .1s;
}
.blog-text:hover{
    font-size: 18px;
}

#first-my-img{
    filter: brightness(110%) ;
    transition: all 0.4s ;
}
#first-my-img:hover{
    width: 130% ;
    height: 130% ;
}
#border-bottom{
    border-bottom: 8px solid rgb(221, 31, 66) ;
}
#about-me-mobile{
    margin-left: 6%;
    margin-right: 6%;
    text-align: justify;
    color: rgb(119, 116, 116);
    font-size: 16px;
}

#form{
    margin-top: 10%;
}
#mesg-name-email{
    border: 10px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 20px;
}
#form textarea{
    border: 10px solid rgb(255, 255, 255);
    background-color: white;
    height: 180px;
    border-radius: 20px;
}
#submit-btn{
    margin-left: 40%;
}

#tag-hover{
    transition: all .6s!important;
}
#tag-hover:hover{
    background-color: rgb(12, 181, 12)!important;
}
#img-in-footer{
    filter: brightness(140%);
}
#social-media-in-footer{
    display: block;
    font-size: 25px;
}

    FOOTER SOCIAL MEDIA ICONS EFFECTS
#facebook-icon-footer{
    transition: all .3s!important;
}
#facebook-icon-footer:hover{
    color: rgb(8, 76, 194)!important;
}

#twitter-icon-footer{
    transition: all .3s!important;
}
#twitter-icon-footer:hover{
    color: rgb(122, 144, 241)!important;
}

#slack-icon-footer{
    transition: all .3s!important;
}
#slack-icon-footer:hover{
    color: pink!important;
}

#github-icon-footer{
    transition: all .3s!important;
}
#github-icon-footer:hover{
    color: rgb(0, 0, 0)!important;
}


#fixed{position: fixed;}

.project-indiv-container{
    position: relative;
    overflow: hidden;
    height: 350px;
    margin-bottom: 3%;
   
}
.projects{
    width: 100%;
}
.img-cover{
    background-color: rgba(7, 73, 29, 0.8);
    top: 80%;
    width: 100%;
    height: 340px;
    position: absolute;
    
}
.project-indiv-container:hover .img-cover{
    animation: slideUp .3s linear forwards;
    
}
.view-on-github-center{
    text-align: center;
    border: 2px solid white;
    padding: 5%;
    width: 50%;
    margin: 20% auto;
}
.view-on-github-center a:hover{
    color: rgb(6, 6, 110);
}

@keyframes slideUp{
    to{
        top: 10%;
    }
}

@media screen and (max-width:900px){
    #logo-container{
        margin-left: -40% !important;
    }
    #shift{
        margin-left: 25%!important;
    }
}